<!DOCTYPE html>
<html>
    <head>
        <link href="css/style.css" rel="sttlesheet" />
    </head>
    <body>
        <div class="gate">
            <div class="glyphs">
                <div class="glyph">A</div>
                <div class="glyph">B</div>
                <div class="glyph">C</div>
                <div class="glyph">D</div>
                <div class="glyph">E</div>
                <div class="glyph">F</div>
                <div class="glyph">G</div>
                <div class="glyph">H</div>
                <div class="glyph">I</div>
                <div class="glyph">J</div>
                <div class="glyph">K</div>
                <div class="glyph">L</div>
                <div class="glyph">M</div>
                <div class="glyph">N</div>
                <div class="glyph">O</div>
                <div class="glyph">P</div>
                <div class="glyph">Q</div>
                <div class="glyph">R</div>
                <div class="glyph">S</div>
                <div class="glyph">T</div>
                <div class="glyph">U</div>
                <div class="glyph">V</div>
                <div class="glyph">W</div>
                <div class="glyph">X</div>
                <div class="glyph">Y</div>
                <div class="glyph">Z</div>
                <div class="glyph">a</div>
                <div class="glyph">b</div>
                <div class="glyph">c</div>
                <div class="glyph">d</div>
                <div class="glyph">e</div>
                <div class="glyph">f</div>
                <div class="glyph">g</div>
                <div class="glyph">h</div>
                <div class="glyph">i</div>
                <div class="glyph">j</div>
                <div class="glyph">k</div>
                <div class="glyph">l</div>
                <div class="glyph">m</div>
            </div>
            <div class="chevrons">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="chevronInners">
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
                <div class="chevronInner"></div>
            </div>
        </div>        
    </body>
</html>